<!-- FOOTER -->
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__block">
            <a href="">
                <div class="footer__logo">
                    <img src="../img/LOGOMOT.png" alt="">
                </div>
            </a>
            <div class="footer__info">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="../speakers.html">Speakers</a>
                    </li>
                    <li class="footer__item">
                        <a href="../about.html">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="../blog.html">Blogs</a>
                    </li>
                    <li class="footer__item">
                        <a href="../resources.html">Resources</a>
                    </li>
                    <li class="footer__item">
                        <a href="">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="../partners.html">Partners</a>
                    </li>
                </ul>
                <div class="footer__subs">
                <div class="footer__subs-title">
                    <h3>Subscribe to our newsletter</h3>
                </div>
                <form action="" class="footer__subs-form">
                    <div class="footer__subs-item">
                        <input class="footer__subs-input" type="text" name="email" placeholder="Email">
                    </div>
                    <div class="footer__subs-submit">
                        <button type="submit">Subscribe</button>
                    </div>
                    <div class="section__modal subs__modal" >
                        <div class="section__modal-content">
                            <h2>Thanks for subscribing!</h2>
                        </div>
                    </div>
                </form>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/TikTok.svg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/Facebook.svg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/Instagram.svg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/Spotify.svg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/LinkedIn.svg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/Pinterest.svg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="">
                            <div class="footer__social-img">
                                <img src="../img/Youtube.svg" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-item">
                <p>© Copyright 2022 Motivation2Study</p>
            </div>
            <div class="footer__bottom-item">
                <p>Legal</p>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
