<!-- HEADER -->
<header class="header">
    <div class="container header__container">
        <div class="header__block">
            <div class="header__mob">
                <a class="header__logo" href="../index.html">
                    <div class="header__logo-img">
                        <img src="../img/LOGOMOT.png" alt="">
                    </div>
                </a>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="../speakers.html">SPEAKERS</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__drop-open drop__toggle"> Shows</a>
                        <ul class="header__drop drop__inner">
                            <li class="header__drop-item header__drop-inside ">
                                <span class="header__drop-link drop__toggle header__right ">Youtube</span>
                                <ul class="header__drop-right drop__inner">
                                    <li class="header__drop-item"><a class="header__drop-link" href="https://www.youtube.com/@Motivation2Study">Motivation2Study</a></li>
                                    <li class="header__drop-item"><a class="header__drop-link" href="https://www.youtube.com/channel/UComCRmec2bCvULTrbtHAxdA">Moments</a></li>
                                    <li class="header__drop-item"><a class="header__drop-link" href="https://www.youtube.com/channel/UCH0h4kqA-Ba7pgIjUB5DxNA">Motivation2Study en Espanol</a></li>
                                    <li class="header__drop-item"><a class="header__drop-link" href="https://www.youtube.com/channel/UCG8h3e-5W2athsBBBwJIY1w">Motivation2Study Shorts</a></li>
                                </ul>
                            </li>
                            <li class="header__drop-item"><a class="header__drop-link" href=" https://linktr.ee/motivation2study?lt_utm_source=lt_share_link#226576103">Podcast</a></li>
                        </ul>
                    </li>
                    <li class="header__menu-item"><a href="../about.html">ABOUT</a></li>
                    <li class="header__menu-item">
                        <a href="../resources.html">RESOURCES</a>
                    </li>
                    <li class="header__menu-item"><a href="">BLOG</a></li>
                </ul>
            <div class="header__button-wrap">
                <button class="header__button">Get in touch</button>
                <ul class="header__drop header__button-drop">
                    <li class="header__drop-item"><a class="header__drop-link" href="https://docs.google.com/forms/d/e/1FAIpQLSc7y5hX2SGDryMYZURQK4-Q2aT1cKQlIce38LsYNXYEitFDPA/viewform">Speakers - Work with us</a></li>
                    <li class="header__drop-item"><a class="header__drop-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfgKGm57hsbitfY-LVR91mr-jT7RFBiy5XsAFtRUaeWgICcSA/viewform">Partnership & SponsorShip </a></li>
                    <li class="header__drop-item"><a class="header__drop-link" href="https://docs.google.com/forms/d/e/1FAIpQLSefTJhe50T4trj85lyCyL-kKjGjUWtcjCYwa-jplaOwrR5s4A/viewform">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>
<!-- /HEADER -->

